html,
body,
#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}
.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 5px 5px 5px 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 5px 11px rgba(1, 1, 1, 0.75);
}
.buttonControls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 5px 5px 5px 5px;
  -moz-box-sizing: border-box;
  height: 32px;
  width: 72px;
  outline: none;
  box-shadow: 0 5px 11px rgba(1, 1, 1, 0.75);
  background-color: #ff2020
}
#searchBox {
  background-color: #FFFFFF;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  margin-left: 12px;
  padding: 0 15px 0 15px;
  text-overflow: ellipsis;
  width: 400px;
}
#searchBox: focus {
  border-color: #000;
}
.pac-container {
  font-family: Roboto;
}
#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}
#type-selector label {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
}